.button {
    background-color: var(--nav-item-bg);
    color: var(--text-dark);
    width: 300px;
    height: 60px;
    border-radius:15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.button:hover {
    border: 5px white solid;
    box-shadow: 5px 10px;
}
.button img {
    
    height:40px;
    width: 40px;
}